html {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
}

body {
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: Arvo;
  font-size: 18px;
  padding: 0px;
  margin: 0px;
}

button {
  font-family: Arvo;
  background-color: #5df2c6;
  color: black;
  border: none;
  outline: none;
  font-weight: bold;
  box-shadow: inset 1px 1px 1px #9df7dc, 1px 1px 1px #9df7dc;
  font-size: 17px;
}

button:hover {
  background-color: #ff2273;
  box-shadow: inset 1px 1px 1px #ff7aab, 1px 1px 1px #ff7aab;
  color: white;
  cursor: pointer;
}

header {
  width: 700px;
  padding-top: 30px;
  /* padding: 30px 100px 10px 100px; */
  margin-bottom: 0px;
  flex-shrink: 0;
  /* border-bottom: 2px dotted #fb1; */
}

h1 {
  text-align: left;
  /**color: #fb1;**/
  color: #ff2273;
}

#gameboard {
  align-self: center;
  display: grid;
  grid-template-columns: 120px 120px 120px;
  flex-shrink: 0;
  font-family: Yellowtail;
  background-color: #e8eceb;
}

#gameboard > div {
  height: 120px;
  width: 120px;
}

.VB {
  border-right: 3px solid #ff2273;
  border-bottom: 3px solid #ff2273;
  /* border-right: 3px solid #14352c; */
  /* border-bottom: 3px solid #14352c; */
}

.Bt {
  border-bottom: 3px solid #ff2273;
  /* border-bottom: 3px solid #14352c; */
}

.Vt {
  /* border-right: 3px solid #14352c; */
  border-right: 3px solid #ff2273;
}

.square > p {
  text-align: center;
  font-size: 80px;
  line-height: 1.5em;
  min-height: 60px;
  min-width: 60px;
  padding: 0;
  margin: 0;
  align-self: center;
  color: #2a3e39;
}
.square {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.square .hide {
  visibility: hidden;
  height: 20px;
}

.show {
  visibility: visible;
  height: 150px;
}

#players {
  height: 160px;
  padding: 10px 100px;
  width: 700px;
}
#players > p {
  color: black;
  font-size: 17px;
}

#playersinfoAI {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: 700px;
  justify-content: space-around;
  margin-bottom: 0px;
}

.playersDiv {
  display: flex;
  flex-direction: column;
  width: 160px;
  padding: 0px 20px;
  gap: 5px;
}

.playersDiv > p {
  margin-top: 0px;
  font-size: 20px;
}

.labelInput {
  padding-left: 20px;
}

#playersSelected {
  width: 100px;
  height: 60px;
}

canvas {
  position: fixed;
}

.mark {
  font-weight: bolder;
  font-size: 1.2rem;
}

#gameStatus {
  height: 140px;
  width: 700px;
  margin: 0px;
  padding: 10px 100px;
  margin-bottom: 20px;
}

#gameStatus > h3 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 15px;
}

#gameStatus > p {
  /**color: #becac7;**/
  color: black;
  font-size: 17px;
}

#restart {
  margin-top: 45px;
  flex-grow: 1;
}

#restartbutton {
  height: 50px;
  width: 170px;
}

.markO {
  /**color: #2e7b67 !important;**/
  color: #00bfc3 !important;
}

.availablesquare:hover {
  cursor: pointer;
  background-color: rgba(70, 104, 95, 0.3);
}

footer {
  width: 700px;
  padding: 10px 100px;
  text-align: center;
}

footer a {
  color: #296d5a;
  text-decoration: none;
}

footer a:visited {
  color: #807285;
}

@media screen and (max-width: 710px) {
  #players {
    width: 95vw;
    height: 275px;
    padding: 0;
  }
  #playersinfoAI {
    width: 95vw;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .playersDiv {
    width: 125px;
    /* padding-left: 40px; */
  }
  .labelInput {
    padding-left: 5px;
  }
  header {
    width: 95vw;
    padding-left: 20px;
  }
  body {
    width: 95vw;
    height: 100%;
  }
  #gameboard {
    grid-template-columns: 115px 115px 115px;
  }
  #gameboard > div {
    width: 115px;
    height: 115px;
  }
  #gameStatus {
    width: 90vw;
    height: 150px;
    padding: 10px 0;
  }
  footer {
    width: 95vw;
    padding: 10px 0;
  }
  /* for smaller screens, the winning line isn't drawn*/
  #canvasforlines {
    height: 0px;
    width: 0px;
  }
}
