body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-content: center; */
  align-items: center;
  box-sizing: border-box;
  gap: 20px;
}

#gameboard {
  /* margin-top: 250px; */
  align-self: center;
  display: grid;
  grid-template-columns: 120px 120px 120px;
  flex-shrink: 0;
  font-family: Yellowtail;
}

#gameboard > div {
  border: 1px solid black;
  height: 120px;
  width: 120px;
}

.square > p {
  text-align: center;
  /* margin-top: 33.3%; */
  font-size: 80px;
  line-height: 1.5em;
  min-height: 60px;
  min-width: 60px;
  padding: 0;
  margin: 0;
  align-self: center;
}
.square {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#textareadiv {
  height: 250px;
  width: 400px;
}

#winnerdiv {
  height: 50px;
  width: 100%;
}

#winnerdiv > p {
  text-align: center;
}

#gameReady {
  height: 150px;
  width: 100%;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

#players {
  height: 100px;
  padding: 10px;
  margin-top: 30px;
}

#playersinfoAI {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.playersDiv {
  display: flex;
  flex-direction: column;
  width: 160px;
  border: 1px solid black;
  padding: 20px;
  padding-bottom: 30px;
}

.playersDiv > p {
  margin-top: 0px;
}

.labelInput {
  padding-left: 20px;
}

#playersSelected {
  width: 100px;
  height: 60px;
}

canvas {
  position: absolute;
  top: 450px;
  z-index: -1;
}
